.places__paragraph{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 768px)
{
    .places__paragraph{
        font-size: 16px;
        line-height: 163%;
    }
}

@media all and (max-width: 525px)
{
    .places__paragraph{
        margin-left: 0;
        padding: 0 calc(100% * 24 / 768);
    }
}

@media all and (max-width: 425px)
{
    .places__paragraph{
        padding: 0 calc(100% * 16 / 320);
    }
}