.places__image{
    width: 100%;
}

/* @media screen and (max-width: 1024px)
{
    .places__image{
        width: calc(100% * 440/(1024 - 2 * 1024 * 48/1024));
    }
}

@media screen and (max-width: 768px)
{
    .places__image{
        width: calc(100% * 340/(768 - 2 * 768 * 24/768));
    }
}

@media all and (max-width: 525px)
{
    .places__image{
        width: initial;
        margin-bottom: 32px;
    }
} 