.places__article{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: calc(100% * 460/(1280 - 1280 * 0.115625 * 2)) auto;
    width: 100%;
    margin: auto;
    gap: 48px 40px;
    margin-top: 80px;
}

.places__article:first-child{
    margin-top: 92px;
}

@media screen and (max-width: 1024px)
{
    .places__article{
        grid-template-columns: calc(100% * 440/(1024 - 2 * 1024 * 48/1024)) auto;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px)
{
    .places__article{
        grid-template-columns: calc(100% * 340/(768 - 2 * 768 * 24/768)) auto;
    }
    .places__article:first-child{
        margin-top: 88px;
        gap: 48px 28px;
    }
}

@media all and (max-width: 525px)
{
    .places__article{
        width: initial;
        grid-template-rows: repeat(4,auto);
        grid-template-columns: auto;
    }
    .places__article:first-child{
        margin-top: 64px;
        gap: 32px 0;
    }
}