.places__title{
width: calc(100% * 460/(1280 - 1280 * 0.115625 * 2));
/* width: 460px; */
max-width: 460px;
margin: 0;
margin-bottom: 48px;
margin-top: 80px;


font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
}

@media screen and (max-width: 1024px)
{
    .places__title{
        width: calc(100% * 440/(1024 - 2 * 1024 * 48/1024));
        /* width: 440px; */
    }
}


@media screen and (max-width: 900px)
{
    .places__title{
        font-size: 52px;
        line-height: 56px;
    }
}


@media screen and (max-width: 768px)
{
    .places__title{
        width: calc(100% * 340/(768 - 2 * 768 * 24/768));
        /* width: 340px; */
        margin-top: 73px;
        font-size: 42px;
        line-height: 46px;
    }
}


@media all and (max-width: 425px)
{
    .places__title{
        width: 280px;
        margin-top: 50px;
        margin-left: calc(100% * 16 / 320);
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}