.places__title{
    max-width: 460px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

/* @media screen and (max-width: 1024px)
{
    .places__title{
        width: calc(100% * 440/928);
        /* width: 440px; 
    }
} 
*/

@media screen and (max-width: 900px)
{
    .places__title{
        font-size: 52px;
        line-height: 56px;
    }
}

@media screen and (max-width: 768px)
{
    .places__title{
        /* max-width: calc(100% * 340/(768 - 2 * 768 * 24/768)); */
        font-size: 42px;
        line-height: 46px;
        max-width: 280px;
    }
}

@media all and (max-width: 525px)
{
    .places__title{
        margin-left: calc(100% * 24 / 768);
    }
}

@media all and (max-width: 425px)
{
    .places__title{
        margin-left: calc(100% * 16 / 320);
        font-size: 32px;
        line-height: 35px;
    }
}

@media all and (max-width: 280px)
{
    .places__title{
        font-size: 24px;
        line-height: 27px;
    }
}