.header__logo{
    margin-left: 48px;
    margin-top: 28px;
}
 
@media screen and (max-width: 768px)
{
    .header__logo{
        margin-left: calc(100% * 48 / 1024);
    }
}

@media screen and (max-width: 768px)
{
    .header__logo{
        margin-left: calc(100% * 24 / 768);
    }
}

@media all and (max-width: 425px)
{
    .header__logo{
        margin-left: calc(100% * 16 / 320);
        margin-top: 16px;
        width: 142px;

    }
}