.header__link-en{
    position: absolute;
    width: 30px;
    top: 46px;
    right: 48px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;

    text-decoration-line: none;
    
}


@media all and (max-width: 425px)
{
    .header__link-en{
        top: 30px;
        right: 16px;
        width: 22px;

        font-size: 18px;
        line-height: 20px;
    }
}