.footer__link{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    transition: .4s all;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
}

.footer__link:hover{
    opacity: 80%;
}

@media all and (max-width: 425px)
{
    .footer__link{
        font-size: 24px;
        line-height: 24px;
    }
}