.footer__links{
    margin-left: 3.75%;
    margin-bottom: 24px;
    margin-top: 92px;
    gap: 8px 18px;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1020px)
{
    .footer__links{
        margin-top: 88px;
        margin-left: calc(100% * 48 / 1020);
    }
}

@media screen and (max-width: 768px)
{
    .footer__links{
        margin-top: 88px;
        margin-left: calc(100% * 24 / 768);
    }
}


@media all and (max-width: 425px)
{
    .footer__links{
        gap: 32px;
        flex-direction: column;
        margin-top: 64px;
        margin-left: calc(100% * 16 / 320);
    }
}



