.lead__image{
    display: flex;
    margin: auto;
    margin-top: 64px;
    width: 76.875%;
}

@media screen and (max-width: 1024px)
{
    .lead__image{
        width: 90.625%;
        margin-top: 56px;
    }
}

@media screen and (max-width: 768px)
{
    .lead__image{
        width: 100%;
    }
}

@media all and (max-width: 425px)
{
    .lead__image{
        margin-top: 40px;
    }
}