.intro__text{
    display: flex;
    margin: 0;
    margin-left: 11.5625%;
    margin-right: 34.53125%;
    margin-bottom: 33px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
/* or 26px */
}


@media screen and (max-width: 1024px)
{
    .intro__text{
        margin-left: 4.6875%;
        width: 690px;
    }
}

@media screen and (max-width: 768px)
{
    .intro__text{
        margin: 0;
        width: initial;
        padding: 0 calc(24 * 100% / 768);
        margin-bottom: 33px;
    }
}
 


@media all and (max-width: 425px)
{
    .intro__text{
        margin: 0;
        width: initial;
        padding: 0 calc(16 * 100% / 320);
        margin-bottom: 34px;
    }
}