.info__button{
    width: 200px;
    aspect-ratio: 4/1;
    margin-top: 60px;
    border-radius: 4px;
    border: 5px solid whitesmoke;
    background-color: white;
    font-family: "Unbounded";
    font-size: 28px;
    line-height: 32px;
}

@media all and (max-width: 1080px){
    .info__button{
        margin-top: 30px;
        width: 160px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media all and (max-width: 850px){
    .info__button{
        margin-top: 24px;
        width: 120px;
    }
}

@media all and (max-width: 670px){
    .info__button{
        margin-top: 6px;
        font-size: 14px;
        line-height: 18px;
    }
}

@media all and (max-width: 520px){
    .info__button{
        margin-top: 6px;
        font-size: 10px;
        line-height: 12px;
    }
}

@media all and (max-width: 420px){
    .info__button{
        margin-top: 0;
        width: 60px;
        font-size: 8px;
        line-height: 8px;
    }
}