.root {
    max-width: 1280px;
    margin: auto;
    background: #2A2C2F;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
  }

