.lead__subtitle{
    margin: auto;
    max-width: 640px;
    margin-top: 32px;
    padding: 0 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 700px)
{
    .lead__subtitle{
        font-size: 22px;
        line-height: 28px;
        max-width: 500px;
    }
}

@media all and (max-width: 425px)
{
    .lead__subtitle{
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media all and (max-width: 315px)
{
    .lead__subtitle{
        font-size: 14px;
        line-height: 18px;
    }
}