.cover{
    display: flex;
    position: relative;
    margin: 0;
    margin-top: 92px;
    width: calc(100% * (1280 - 48*2)/1280);
    margin-left: calc(48/1280*100%);
    aspect-ratio: 1184/740;
}

@media screen and (max-width: 1024px)
{
    .cover{
        margin-top: 90px;
        width: 100%;
        aspect-ratio: 1024/640;
        margin-left: 0;
    }
}

@media all and (max-width: 425px)
{
    .cover{
        margin-top: 66px;
    }
}

