.gift__title{
    margin: 0;
    font-family: "Unbounded";
    color: rgba(225,225,225, .01);
    background-repeat: repeat;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

@keyframes animate1 {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}

@keyframes animate2 {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    0% {
        background-position: 0% 0%;
      }
}

@keyframes animate3 {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 50%;
    }
    0% {
        background-position: 100%;
      }
}

.gift__title_first{
    background-image: url("../../../images/abstraktnyi-fon-80.webp");
    animation: animate1 20s ease-in-out infinite;
    line-height: 140px;
    font-size: 136px;
}

.gift__title:nth-child(2){
    background-image: url("../../../images/1614332829_35-p-fon-abstraktsiya-raznotsvetnaya-43.jpg");
    animation: animate2 74s ease-in-out infinite;
    line-height: 160px;
    font-size: 148px;
}

.gift__title_third{
    line-height: 112px;
    font-size: 100px;
    background-image: url("../../../images/1614331733_29-p-raznie-raznotsvetnie-foni-34.jpg");
    animation: animate2 72s ease-in-out infinite;
}

@media all and (max-width: 1240px){
  .gift__title_first{
    line-height: 136px;
    font-size: 124px;
}
  .gift__title_third{
    line-height: 96px;
    font-size: 80px;
  }
}

@media all and (max-width: 1120px){
  .gift__title_first{
    line-height: 132px;
    font-size: 120px;
}

  .gift__title:nth-child(2){
    line-height: 124px;
    font-size: 112px;
}
}

@media all and (max-width: 1080px){
  .gift__title_first{
    line-height: 100px;
    font-size: 88px;
}

  .gift__title_third{
    line-height: 84px;
    font-size: 72px;
  }
}

@media all and (max-width: 840px){
  .gift__title_third{
    line-height: 64px;
    font-size: 56px;
  }

  .gift__title:nth-child(2){
    line-height: 108px;
    font-size: 96px;
}
}

@media all and (max-width: 800px){
  .gift__title_first{
    line-height: 88px;
    font-size: 76px;
    text-align: center;
}

  .gift__title_third{
    line-height: 60px;
    font-size: 52px;
    text-align: center;
  }

  .gift__title:nth-child(2){
    line-height: 88px;
    font-size: 76px;
    text-align: center;
}
}

@media all and (max-width: 500px){
  .gift__title_first{
    line-height: 56px;
    font-size: 52px;
}

  .gift__title_third{
    line-height: 42px;
    font-size: 36px;
  }

  .gift__title:nth-child(2){
    line-height: 56px;
    font-size: 48px;
}
}