.cover__background{
    position: absolute;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    height: 100%;
    background-image: url('../../../images/__background.png');
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: auto;
    text-decoration: none;
}





@media all and (max-width: 425px)
{
    .cover__background{
        gap: 16px;
    }
}
