.cover__title{
    z-index: 3;
    margin: 0;
    max-width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: white;
    pointer-events: none;
}

@media screen and (max-width: 650px)
{
    .cover__title{
        font-size: 40px;
        line-height: 44px;
    }
}

@media all and (max-width: 425px)
{
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}

@media all and (max-width: 280px)
{
    .cover__title{
        font-size: 26px;
        line-height: 29px;
    }
}