.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer *{
    transition: .4s all;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
}


@media all and (max-width: 425px)
{
    .footer{
        flex-direction: column;
        justify-content: stretch;
    }
}

