.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 425px)
{
    .footer{
        flex-direction: column;
        justify-content: stretch;
    }
}

