.places__website{
    position: relative;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 48px;
    /* width: calc(100% - 100% * 460/(1280 - 1280 * 0.115625 * 2)) ; */
    width: 250px;
}

@media screen and (max-width: 1024px)
{
    .places__website{
        width: calc(100% * 440/(1024 - 2 * 1024 * 48/1024)) - 32px;
        left: 32px;
    }
}

@media screen and (max-width: 768px)
{
    .places__website{
        width: calc(100% * 340/(768 - 2 * 768 * 24/768)) - 28px;
        left: 28px;
    }
}



@media all and (max-width: 425px)
{
    .places__website{
        margin: 0;
        left: 0;
        margin-bottom: 32px;
        padding: 0 calc(100% * 16 / 320);
        width: calc(100% - 100% * 460/(1280 - 1280 * 0.115625 * 2) - 40);
    }
}

