.photo-grid__image{
    object-fit: cover;
    width: 100%;
}

/* @media screen and (max-width: 1024px)
{
    .photo-grid__image{
        margin-left: 4.6875%;
        width: initial;
    }
}

@media screen and (max-width: 720px)
{
    .photo-grid__image{
        margin-left: calc(100% * 24 / 720);
        width: initial;
    }
}

@media all and (max-width: 425px)
{
    .photo-grid__image{
        margin-left: calc(100% * 16 / 320);
        font-size: 32px;
        line-height: 35px;
    }
} */